@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
body{
    background-color: rgb(173, 255, 217);
}
.col{
    background-color: rgb(173, 255, 217);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}

a{
font-family: Cinzel, serif ;
color:black;
font-size: 1.5em;
align-items: center;

}

h2{
    font-family: Cinzel, serif;
    font-size: 2.3em;
    align-items: center;
}
p{
    font-family: serif;
    font-size: 1.4em;
}
h1{
    font-family: Cinzel, serif;
    font-size: 2.7em;
    align-items: center;
}